@charset "UTF-8";

body {
    background-color: rgb(140, 140, 255);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}
img#imagem {
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.527);
}
div {
    text-align: center;
}
div#msg {
    padding: 10px;
}
footer {
    color: white;
    font-style: italic;
    text-align: center;
}
